In [1]:
#import all library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error,mean_squared_error

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
# read csv file
housing = pd.read_csv('../data/cleaned_train_data_wo_lat_long.csv')
housing.head()

,tranc_yearmonth,flat_type,storey_range,flat_model,resale_price,tranc_year,tranc_month,mid_storey,full_flat_type,floor_area_sqft,hdb_age,max_floor_lvl,residential,commercial,market_hawker,multistorey_carpark,precinct_pavilion,total_dwelling_units,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental,planning_area,mall_nearest_distance,mall_within_500m,mall_within_1km,mall_within_2km,hawker_nearest_distance,hawker_within_500m,hawker_within_1km,hawker_within_2km,hawker_food_stalls,hawker_market_stalls,mrt_nearest_distance,mrt_name,bus_interchange,mrt_interchange,bus_stop_nearest_distance,bus_stop_name,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,region,mature
0,2016-05,4 ROOM,10 TO 12,Model A,680000.0,2016,5,11,4 ROOM Model A,968.760,15,25,1,0,0,0,0,142,0,0,0,96,46,0,0,0,0,0,0,0,Kallang,1094.090418,0.0,0.0,7.0,154.753357,1.0,3.0,13.0,84,60,330.083069,Kallang,0,0,29.427395,Blk 3B,1138.633422,Geylang Methodist School,78,1,1138.633422,Geylang Methodist School,224,0,Central,1
1,2012-07,5 ROOM,07 TO 09,Improved,665000.0,2012,7,8,5 ROOM Improved,1399.320,34,9,1,0,0,0,0,112,0,0,0,56,56,0,0,0,0,0,0,0,Bishan,866.941448,0.0,1.0,3.0,640.151925,0.0,1.0,7.0,80,77,903.659703,Bishan,1,1,58.207761,BLK 151A MKT,415.607357,Kuo Chuan Presbyterian Primary School,45,1,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,Central,1
2,2013-07,EXECUTIVE,13 TO 15,Apartment,838000.0,2013,7,14,EXECUTIVE Apartment,1550.016,24,16,1,0,0,0,0,90,0,0,0,0,30,60,0,0,0,0,0,0,Bukit Batok,1459.579948,0.0,0.0,4.0,1762.082341,0.0,0.0,1.0,84,95,1334.251197,Bukit Batok,1,0,214.747860,Blk 289E,498.849039,Keming Primary School,39,0,180.074558,Yusof Ishak Secondary School,188,0,West,0
3,2012-04,4 ROOM,01 TO 05,Model A,550000.0,2012,4,3,4 ROOM Model A,1108.692,29,11,1,1,0,0,0,75,0,0,0,68,7,0,0,0,0,0,0,0,Bishan,950.175199,0.0,1.0,4.0,726.215262,0.0,1.0,9.0,32,86,907.453484,Bishan,1,1,43.396521,Opp Bishan Nth Shop Mall,389.515528,Catholic High School,20,1,389.515528,Catholic High School,253,1,Central,1
4,2017-12,4 ROOM,01 TO 03,Simplified,298000.0,2017,12,2,4 ROOM Simplified,893.412,34,4,1,0,0,0,0,48,0,0,0,30,18,0,0,0,0,0,0,0,Yishun,729.771895,0.0,1.0,2.0,1540.151439,0.0,0.0,1.0,45,0,412.343032,Khatib,0,0,129.422752,Blk 873,401.200584,Naval Base Primary School,74,0,312.025435,Orchid Park Secondary School,208,0,North,0

In [3]:
avg_resales_price = housing['resale_price'].mean()
print("average resale price:", avg_resales_price)

y_pred = [avg_resales_price]*len(housing)
y = housing['resale_price']
mse = mean_squared_error(y,y_pred)
mae = mean_absolute_error(y,y_pred)
rmse = mean_squared_error(y, y_pred, squared = False)

print("MSE:", mse)
print("MAE:", mae)
print("rmse:", rmse)

average resale price: 448662.0642550647
MSE: 20509692142.870213
MAE: 110091.03265258984
rmse: 143212.05306422437